@import "tailwindcss";

@theme{
  --color-primary: #07848c;
  --color-primary-light: #4cb9c0;
  --color-primary-dark: #034a50;

  --color-secondary: #013D64;
  --color-secondary-light: #04588C;
  --color-secondary-dark: #012F4A;
}
.no-scroll {
  overflow: hidden;
}
