@import "tailwindcss";

@theme{
  --color-primary: #07848c;
  --color-primary-light: #4cb9c0;
  --color-primary-dark: #034a50;

  --color-secondary: #73c9ae;
  --color-secondary-light: #a8e6d2;
  --color-secondary-dark: #3a8f7d;
}
.no-scroll {
  overflow: hidden;
}